<div class="ui container">

    <div class="ui secondary pointing menu">

        <a routerLink="/home" class="item" routerLinkActive="active">Home</a>
        <a routerLink="/elements" class="item" routerLinkActive="active">Elements</a>
        <a routerLink="/collection" class="item" routerLinkActive="active">Collection</a>
        <a routerLink="/view" class="item" routerLinkActive="active">VIEW</a>
        <a routerLink="/mods" class="item" routerLinkActive="active">MODAL</a>


    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>